<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

<!-- CSS external stylesheets -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
 <!-- Javascript external files -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <nav>
      <img src="https://cdn2.iconfinder.com/data/icons/law-and-crime-2/512/drawing16-512.png " height="55" width="55" style="padding-left: 0.35em; padding-bottom: 0.5em;"><span id="nav-align">verdict</span>

      <form action="/action">
        <input type="text" placeholder="Username" name="username">
        <input type="text" placeholder="Password" name="psw">
        <button id="login" type="submit">Login</button>
      </form>
      <button id="register">New user?</button>

  </nav>
    <header>
      <h2 class='headerElements'>Create new poll</h2>
    </header>

  </body>

  <!--Contact Form -->
<div id="contactdiv">
  <form class="form" action="#" id="contact">
  <img src="images/button_cancel.png" class="img" id="cancel"/>
  <h3>Contact Form</h3>
  <hr/><br/>
  <label>Name: <span>*</span></label>
  <br/>
  <input type="text" id="name" placeholder="Name"/><br/>
  <br/>
  <label>Email: <span>*</span></label>
  <br/>
  <input type="text" id="email" placeholder="Email"/><br/>
  <br/>
  <label>Contact No: <span>*</span></label>
  <br/>
  <input type="text" id="contactno" placeholder="10 digit Mobile no."/><br/>
  <br/>
  <label>Message:</label>
  <br/>
  <textarea id="message" placeholder="Message......."></textarea><br/>
  <br/>
  <input type="button" id="send" value="Send"/>
  <input type="button" id="cancel" value="Cancel"/>
  <br/>
  </form>
  </div>
</html>

