<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

<!-- CSS external stylesheets -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
 <!-- Javascript external files -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header>
      <h2 class='headerElements'>Create new poll</h2>
    </header>
    <div id='poll'>
      <p id='pollTitle'>Poll Title</p>
      <p id='description'>description of the poll</p>
      <div id='alloptions'>
        <div class='option'>
          <li>option1</li>
        </div>
        <div class='option'>
          <li>option2</li>
        </div>
        <div class='option'>
          <li>option3</li>
        </div>
        <div class='option'>
          <li>option4</li>
        </div>
        <div class='option'>
          <li>option5</li>
        </div>
      </div>
    </div>
    <button class='button'>Done</button>
  </body>
</html>
