<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

<!-- CSS external stylesheets -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/userSubmission.css" type="text/css" />


    <!-- Javascript external files -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/userSubmissionHandlers.js"></script>
    <script src="https://use.fontawesome.com/2d47efe5f8.js"></script>



  </head>

  <body>
<!-- SVG -->
<header>
  <div class='headerElements'>
    <div class="headerElementsRight">
      <h2 class='headerFont'>A <b>simple</b> & <b>powerful</b> online polling tool</h2>
      <h4 class='headerFont'>An elegant solution that brings people <u><i>together</i></u> </h4>
      <span ><b>Get</b> your verdict</span>
      <i class="fa fa-gavel gavelIcon bounce" id='toggleSubmissionForm'></i>

    </div>

    <div class='headerElementSVG'>
      <svg class="chart" width="420" height="150" aria-labelledby="title desc" role="img">
        <g class="bar", id='bar-1'>
          <rect width="40" height="19"></rect>
          <text x="45" y="9.5" dy=".35em" class='shrink'>Cinderella</text>

        </g>
        <g class="bar" id='bar-2'>
          <rect width="80" height="19" y="20"></rect>
          <text x="85" y="28" dy=".35em">Brother Bear</text>
        </g>
        <g class="bar" id='bar-3'>
          <rect width="150" height="19" y="40"></rect>
          <text x="150" y="48" dy=".35em">The Little Mermaid</text>
        </g>
        <g class="bar" id='bar-4'>
          <rect width="160" height="19" y="60"></rect>
          <text x="161" y="68" dy=".35em">The Lion King</text>
        </g>
        <g class="bar" id='bar-5'>
          <rect width="230" height="19" y="80"></rect>
          <text x="235" y="88" dy=".35em">Aladdin</text>
        </g>
      </svg>

  </div>

    </header>


    <div class='userSubmissionForm'>

      <form class='userSubmission'>
        <textarea name="text" id='title' class='textForm'  placeholder="Enter title" ></textarea>
        <input type='submit' class='submit' id='submitTitle'>
        <i class="fa fa-times cancel" id='cancelTitle'></i>
      </form>


      <form class='userSubmission'>
        <textarea name="description" id='description' class='textForm'  placeholder="Enter description" ></textarea>
        <input type='submit' class='submit' id='submitDesc'>
        <i class="fa fa-times cancel" id='cancelDesc'></i>
      </form>

      <form class='userSubmission'>
        <textarea name="Add Item" id='newItem' class='textForm'  placeholder="Enter item" ></textarea>
        <input type='submit' class='submit' id='submitItem'>
        <i class="fa fa-times cancel" id='cancelItem'></i>
      </form>
      <form class='userSubmission'>
      <input type='submit' class='submit' id='submitAll'>
    </form>

    </div>

  </body>
</html>
