<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

<!-- CSS external stylesheets -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
 <!-- Javascript external files -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header>
      <div class='headerElements'>
        <h2 class='headerFont'>A <b>simple</b> & <b>powerful</b> online polling tool</h2>
        <h4 class='headerFont'>An elegant solution that brings people <u><i>together</i></u> </h4>
        <input type='submit' name='newPoll'>
      </div>
    </header>

  </body>
</html>
