<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <!-- CSS external stylesheets -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/userSubmission.css" type="text/css" />
    <link rel="stylesheet" href="/styles/mainUserPage.css" type="text/css" />
    <link rel="stylesheet" href="/styles/voterSelection.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">


    <!-- Javascript external files -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://use.fontawesome.com/2d47efe5f8.js"></script>
    <script type="text/javascript" src="/scripts/jQuery.js"></script>
    <script type="text/javascript" src="/scripts/userSubmissionHandlers.js"></script>
    <script type="text/javascript" src="/scripts/logInRegisterForms.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="/scripts/nav.js"></script>



  </head>

  <body>
<!-- NAV starts here -->
<nav>

  <span id="brand">verdict</span>

  <div class='navElements'>
  <button class="register" id='loginBtn'>Log In</button>
  <div class="form-popupLogin" id="myForm">
  <form class="form-container" id='login'>
    <h1 class='formTitle'>Log In</h1>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit" class="btn">Submit</button>
    <button type="submit" class="btn" id='cancel' >Cancel</button>
  </form>

  </div>

<button class="logInRegister" id='registerBtn' >Register</button>
<div class="form-popupRegister" id="myForm">
<form class="form-container" id='register'>
<h1 class='formTitle'>Register</h1>

<label for="email"><b>Email</b></label>
<input type="text" placeholder="Enter Email" name="email" required>

<label for="psw"><b>Password</b></label>
<input type="password" placeholder="Enter Password" name="psw" required>

<button type="submit" class="btn">Submit</button>
<button type="button" class="btn " id='cancelReg' >Close</button>
</form>

</div>
</div>

</nav>
<!-- NAV ENDS HERE -->

<!-- HEADER STARTS -->

<header>
  <div class='headerElements'>
    <div class="headerElementsRight">
      <h2 class='headerFont'>A <b>simple</b> & <b>powerful</b> online polling tool</h2>
      <h4 class='headerFont'>An elegant solution that brings people <u><i>together</i></u> </h4>
      <div class='getYoVerdict'>

        <span  ><b>Get</b> your verdict</span>
        <i class="fa fa-gavel gavelIcon bounce getYoVerdict "></i>
      </div>

    </div>

    <div class='headerElementSVG'>
      <svg class="chart" width="420" height="150" aria-labelledby="title desc" role="img">
        <g class="bar", id='bar-1'>
          <rect width="40" height="19"></rect>
          <text x="45" y="9.5" dy=".35em" class='shrink'>Cinderella</text>

        </g>
        <g class="bar" id='bar-2'>
          <rect width="80" height="19" y="20"></rect>
          <text x="85" y="28" dy=".35em">Brother Bear</text>
        </g>
        <g class="bar" id='bar-3'>
          <rect width="150" height="19" y="40"></rect>
          <text x="150" y="48" dy=".35em">The Little Mermaid</text>
        </g>
        <g class="bar" id='bar-4'>
          <rect width="160" height="19" y="60"></rect>
          <text x="161" y="68" dy=".35em">The Lion King</text>
        </g>
        <g class="bar" id='bar-5'>
          <rect width="230" height="19" y="80"></rect>
          <text x="235" y="88" dy=".35em">Aladdin</text>
        </g>
      </svg>

  </div>

</header>

<!-- HEADER ENDS -->



<!-- USER VOTER DRAG AND DROP STARTS -->
<div class='pollContainer'>


    <div class='poll'>


    </div>
        <div>
          <input type='submit' class='button'></input>
        </div>


  <!-- AFTER VOTER SUBMISSION -->
  <div class='afterSubmission'>
    <div>
      <h2 class='userSub'>Thank you for your submission!</h2>
      <h3 class='userSub'>You're going to be redirected to the main page shortly!</h3>
    </div>
  </div>


  </body>
  </html>

