header {
  display: flex;

  height: 400px;
  width: 100%;
  background-color:  #f4805b;
  color: #FFF;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  font-family: 'Source Sans Pro', sans-serif;

}

.headerElements {
  display: inline-block;
  margin: auto;
  font-size:18px;
}

.headerFont {
  font-weight: lighter;

}

header span {
  margin-left:8rem;
  margin-right: 0.8rem;
}

header .fa {
  font-size: 30px;

}

.headerElementSVG {
visibility: hidden;
}

.headerElementsRight {
  margin-top: 8em;
}

//Media queries for the header
@media only screen and (min-width: 1024px) {
  .headerElements {
    // margin-left: 20em;

    display: flex;
    justify-content: space-between;


  }


  .headerElementSVG {
    visibility: visible;
    min-inline-size: -webkit-fill-available;
    margin: 0 auto;

  }

  .headerElementsRight {
    min-width: fit-content;
    margin: 0 auto;

  }

}
