header {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 100%;
  background-color:  #f4805b;
  color: #FFF;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  font-family: 'Source Sans Pro', sans-serif;

}

.headerElements {
  display: inline-block;
  margin: auto;
  font-size:18px;
}

.headerFont {
  font-weight: lighter;

}

header span {
  margin-left:8rem;
  margin-right: 0.8rem;
}

header .fa {
  font-size: 30px;

}

//Media queries for the header
@media only screen and (min-width: 1024px) {
  .headerElements {
    margin-left: 20em;
  }
}
