header {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 100%;
  background-color:  #f4805b;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
}

.headerElements {

}
