nav {
  height: 3em;
  color: black;
  top: 0px;
  z-index: 1;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;

}

#nav-align {
  font-size: 3em;
  font-family: rez, sans-serif;
  position: absolute;
  bottom: 5%;
  left: 1.1em;
}

#login {
  color: black;
  opacity: 0.5;
  background-color: transparent;
  border-color: transparent;
  font-size: 1.25em;
  font-family: 'Source Sans Pro', sans-serif;
  position: absolute;
  bottom: 5%;
  left: 90%;
}

#register {
  color: black;
  opacity: 0.5;
  background-color: transparent;
  border-color: transparent;
  font-size: 1.25em;
  font-family: 'Source Sans Pro', sans-serif;
  position: absolute;
  bottom: 5%;
  left: 85%;
}
  
#login:hover {
  opacity: 1.0;
}

#register:hover {
  opacity: 1.0;
}
