
@font-face {
  font-family: rez;
  src: url('REZ.ttf');
}

nav {
  display: flex;
  position:sticky;
  background-color:#eee ;
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
  height: 4em;
  z-index: 1;
  width: 100%;
  color: #E49077;
  justify-content: space-between;
  margin: 0.7em;
}


#brand {
font-size: 3em;
font-family: rez, sans-serif;
}


.navElements {
  display: flex;
  margin: 1.5em;
  justify-content: space-between;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1em;
  font-weight: bold;


}
.formTitle {
  color: #E49077;
  text-align: center;
}

#loginBtn {
  color: #E49077;
  background-color: transparent;
  border-color: transparent;
}

#logoutBtn {
  color: grey;
  background-color: transparent;
  border-color: transparent;
}

#username {
  color: #E49077;
  background-color: transparent;
  border-color: transparent;
}

.logInRegister {
  color: #E49077;
  background-color: transparent;
  border-color: transparent;
}

/* The popup form - hidden by default */
.form-popupLogin .form-popupRegister {

  border: 3px solid #f1f1f1;
  z-index: 10;
}

/* Add styles to the form container */
.form-container {
  max-width: 500px;
  padding: 10px;
  background-color:white ;
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #E49077;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */

.form-container #cancel, #cancelReg{
  background-color: #F9CB9C;
  color: white;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
