.resultsContainer {
  display: flex;
  color: #E0967E;
  background-color: #E4E4E4;
  width: 80%;
  height: 45em;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 2em;
  margin-bottom: 2em;
  justify-content: center;
}

.results {

 display: flex;
 justify-content: center;
}



#chartResults {
margin-left: 3.5em;
margin-top: 8em;
display: flex;
justify-content: center;
font-size: 1.6em;
}

@keyframes slideIn-little {
0% {
  width: 0%;
}

100% {
  width: 9%;
  }
}

#littleBar {
  animation: slideIn-little 2s;
}

@keyframes slideIn-SecondLittle {
  0% {
    width: 0%;
  }

  100% {
    width: 18%;
    }
  }

  #secondLittleBar {
    animation: slideIn-SecondLittle 2s;
  }

  @keyframes slideIn-ThirdLittle {
    0% {
      width: 0%;
    }

    100% {
      width: 36%;
      }
    }

    #thirdLittleBar {
      animation: slideIn-ThirdLittle 2s;
    }

    @keyframes slideIn-FourthLittle {
      0% {
        width: 0%;
      }

      100% {
        width: 38%;
        }
      }

      #fourthLittleBar {
        animation: slideIn-FourthLittle 2s;
      }

      @keyframes slideIn-FifthLittle {
        0% {
          width: 0%;
        }

        100% {
          width: 55%;
          }
        }

        #fifthLittleBar {
          animation: slideIn-FifthLittle 2s;
        }




